<template>
    <div class="container mt-100">
        <h2 class="pxp-section-h2">Explore Our Neighborhoods</h2>
        <p class="pxp-text-light">Browse our comprehensive neighborhood listings</p>

        <div class="row mt-4 mt-md-5">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="properties.html" class="pxp-areas-1-item rounded-lg">
                    <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(images/area-1.jpg);"></div>
                    <div class="pxp-areas-1-item-details">
                        <div class="pxp-areas-1-item-details-area">Bluemont</div>
                        <div class="pxp-areas-1-item-details-city">Arlington, VA</div>
                    </div>
                    <div class="pxp-areas-1-item-counter"><span>324 Properties</span></div>
                    <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="properties.html" class="pxp-areas-1-item rounded-lg">
                    <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(images/area-2.jpg);"></div>
                    <div class="pxp-areas-1-item-details">
                        <div class="pxp-areas-1-item-details-area">Overlake</div>
                        <div class="pxp-areas-1-item-details-city">Redmond, WA</div>
                    </div>
                    <div class="pxp-areas-1-item-counter"><span>158 Properties</span></div>
                    <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="properties.html" class="pxp-areas-1-item rounded-lg">
                    <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(images/area-3.jpg);"></div>
                    <div class="pxp-areas-1-item-details">
                        <div class="pxp-areas-1-item-details-area">College Terrace</div>
                        <div class="pxp-areas-1-item-details-city">Palo Alto, CA</div>
                    </div>
                    <div class="pxp-areas-1-item-counter"><span>129 Properties</span></div>
                    <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="properties.html" class="pxp-areas-1-item rounded-lg">
                    <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(images/area-4.jpg);"></div>
                    <div class="pxp-areas-1-item-details">
                        <div class="pxp-areas-1-item-details-area">Inner Sunset</div>
                        <div class="pxp-areas-1-item-details-city">San Francisco, CA</div>
                    </div>
                    <div class="pxp-areas-1-item-counter"><span>129 Properties</span></div>
                    <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="properties.html" class="pxp-areas-1-item rounded-lg">
                    <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(images/area-5.jpg);"></div>
                    <div class="pxp-areas-1-item-details">
                        <div class="pxp-areas-1-item-details-area">Upper West Side</div>
                        <div class="pxp-areas-1-item-details-city">New York City, NY</div>
                    </div>
                    <div class="pxp-areas-1-item-counter"><span>324 Properties</span></div>
                    <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="properties.html" class="pxp-areas-1-item rounded-lg">
                    <div class="pxp-areas-1-item-fig pxp-cover" style="background-image: url(images/area-6.jpg);"></div>
                    <div class="pxp-areas-1-item-details">
                        <div class="pxp-areas-1-item-details-area">Marina District</div>
                        <div class="pxp-areas-1-item-details-city">San Francisco, CA</div>
                    </div>
                    <div class="pxp-areas-1-item-counter"><span>158 Properties</span></div>
                    <div class="pxp-areas-1-item-cta text-uppercase">Explore</div>
                </a>
            </div>
        </div>

        <a href="properties.html" class="pxp-primary-cta text-uppercase mt-2 mt-md-4 pxp-animate">Explore Neighborhoods</a>
    </div>
</template>

<script>
    export default {
        name: "featured-districts-component"
    }
</script>

<style scoped>

</style>