<template>
    <div class="container mt-100">
        <h2 class="pxp-section-h2 text-center">Membership Plans</h2>
        <p class="pxp-text-light text-center">Choose the plan that suits you best</p>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="#" class="pxp-plans-1-item">
                    <div class="pxp-plans-1-item-fig">
                        <img src="images/plan-personal.svg" alt="...">
                    </div>
                    <div class="pxp-plans-1-item-title">Personal</div>
                    <ul class="pxp-plans-1-item-features list-unstyled">
                        <li>10 Listings</li>
                        <li>2 Featured Listings</li>
                    </ul>
                    <div class="pxp-plans-1-item-price">
                        <span class="pxp-plans-1-item-price-sum">Free</span>
                        <span class="pxp-plans-1-item-price-period"> / 1 month</span>
                    </div>
                    <div class="pxp-plans-1-item-cta text-uppercase">Choose Plan</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="#" class="pxp-plans-1-item pxp-is-popular">
                    <div class="pxp-plans-1-item-label">Most Popular</div>
                    <div class="pxp-plans-1-item-fig">
                        <img src="images/plan-professional.svg" alt="...">
                    </div>
                    <div class="pxp-plans-1-item-title">Professional</div>
                    <ul class="pxp-plans-1-item-features list-unstyled">
                        <li>10 Listings</li>
                        <li>2 Featured Listings</li>
                    </ul>
                    <div class="pxp-plans-1-item-price">
                        <span class="pxp-plans-1-item-price-currency">$</span>
                        <span class="pxp-plans-1-item-price-sum">49.99</span>
                        <span class="pxp-plans-1-item-price-period"> / 6 months</span>
                    </div>
                    <div class="pxp-plans-1-item-cta text-uppercase">Choose Plan</div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="#" class="pxp-plans-1-item">
                    <div class="pxp-plans-1-item-fig">
                        <img src="images/plan-business.svg" alt="...">
                    </div>
                    <div class="pxp-plans-1-item-title">Business</div>
                    <ul class="pxp-plans-1-item-features list-unstyled">
                        <li>10 Listings</li>
                        <li>2 Featured Listings</li>
                    </ul>
                    <div class="pxp-plans-1-item-price">
                        <span class="pxp-plans-1-item-price-currency">$</span>
                        <span class="pxp-plans-1-item-price-sum">99.99</span>
                        <span class="pxp-plans-1-item-price-period"> / 1 year</span>
                    </div>
                    <div class="pxp-plans-1-item-cta text-uppercase">Choose Plan</div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "membersip-plans-component"
    }
</script>

<style scoped>

</style>