<template>
    <div class="pxp-cta-1 pxp-cover mt-100 pt-300" style="background-image: url(images/cta-fig-1.jpg); background-position: 50% 60%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="pxp-cta-1-caption pxp-animate-in">
                        <h2 class="pxp-section-h2">hello</h2>
                        <p class="pxp-text-light">Power your search with our Resideo real estate platform, for timely listings and a seamless experience.</p>
                        <a class="pxp-primary-cta text-uppercase mt-3 mt-md-5 pxp-animate">Search Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search-component"
    }
</script>

<style scoped>

</style>