<template>
    <div class="pxp-services pxp-cover mt-100 pt-100 mb-200" style="background-image: url(images/services-h-fige6dd.jpg?v7); background-position: 50% 60%;">
        <h2 class="text-center pxp-section-h2">Why Choose Us</h2>
        <p class="pxp-text-light text-center">We offer perfect real estate services</p>

        <div class="container">
            <div class="pxp-services-container rounded-lg mt-4 mt-md-5">
                <a href="properties.html" class="pxp-services-item">
                    <div class="pxp-services-item-fig">
                        <img src="images/service-icon-1.svg" alt="...">
                    </div>
                    <div class="pxp-services-item-text text-center">
                        <div class="pxp-services-item-text-title">Find your future home</div>
                        <div class="pxp-services-item-text-sub">We help you find a new home by offering<br>a smart real estate experience</div>
                    </div>
                    <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                </a>
                <a href="agents.html" class="pxp-services-item">
                    <div class="pxp-services-item-fig">
                        <img src="images/service-icon-2.svg" alt="...">
                    </div>
                    <div class="pxp-services-item-text text-center">
                        <div class="pxp-services-item-text-title">Experienced agents</div>
                        <div class="pxp-services-item-text-sub">Find an agent who knows<br>your market best</div>
                    </div>
                    <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                </a>
                <a href="properties.html" class="pxp-services-item">
                    <div class="pxp-services-item-fig">
                        <img src="images/service-icon-3.svg" alt="...">
                    </div>
                    <div class="pxp-services-item-text text-center">
                        <div class="pxp-services-item-text-title">Buy or rent homes</div>
                        <div class="pxp-services-item-text-sub">Millions of houses and apartments in<br>your favourite cities</div>
                    </div>
                    <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                </a>
                <a href="submit-property.html" class="pxp-services-item">
                    <div class="pxp-services-item-fig">
                        <img src="images/service-icon-4.svg" alt="...">
                    </div>
                    <div class="pxp-services-item-text text-center">
                        <div class="pxp-services-item-text-title">List your own property</div>
                        <div class="pxp-services-item-text-sub">Sign up now and sell or rent<br>your own properties</div>
                    </div>
                    <div class="pxp-services-item-cta text-uppercase text-center">Learn More</div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "why-choose-us-component"
    }
</script>

<style scoped>

</style>